[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
nose = "*"

[requires]
python_version = "3.7"

[packages]
torch = "==1.8"
torchvision = "*"
pillow = ">=8.1.1"
